.panel {
    width: 70%;
    margin: 30px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.panel p {
    font-size: 30px;
}

.panel .panel-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.panel .panel-links a {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: rgb(72, 144, 226);
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.panel .panel-links a:hover {
    background-color: rgb(52, 109, 173);
}

.usuarios {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.usuarios .tabla {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    justify-content: center;
    flex-direction: row;
}

.usuarios .tabla h2 {
    justify-self: center;
}

.usuarios .tabla p {
    justify-self: center;
}

.select {
    color: rgb(72, 144, 226);
}